In [1]:
import pandas as pd
import os

In [2]:
subjects = os.listdir('./data/images/Control')\
           + os.listdir('./data/images/Schizoaffective')\
           + os.listdir('./data/images/Schizophrenia')\
           + os.listdir('./data/images/Schizophrenia_Strict')

In [3]:
for i in range(len(subjects)):
    subjects[i] = subjects[i][4:-30]

In [4]:
subjects

['10159',
 '10171',
 '10189',
 '10206',
 '10217',
 '10225',
 '10227',
 '10228',
 '10235',
 '10249',
 '10269',
 '10271',
 '10273',
 '10274',
 '10280',
 '10290',
 '10292',
 '10304',
 '10316',
 '10321',
 '10325',
 '10329',
 '10339',
 '10340',
 '10345',
 '10347',
 '10356',
 '10361',
 '10365',
 '10376',
 '10377',
 '10388',
 '10429',
 '10438',
 '10440',
 '10448',
 '10455',
 '10460',
 '10471',
 '10478',
 '10487',
 '10492',
 '10506',
 '10517',
 '10523',
 '10524',
 '10525',
 '10527',
 '10530',
 '10557',
 '10565',
 '10570',
 '10575',
 '10624',
 '10629',
 '10631',
 '10638',
 '10668',
 '10672',
 '10674',
 '10678',
 '10680',
 '10686',
 '10692',
 '10696',
 '10697',
 '10704',
 '10707',
 '10708',
 '10719',
 '10724',
 '10746',
 '10762',
 '10779',
 '10785',
 '10788',
 '10844',
 '10855',
 '10871',
 '10877',
 '10882',
 '10891',
 '10893',
 '10912',
 '10934',
 '10940',
 '10949',
 '10958',
 '10963',
 '10968',
 '10975',
 '10977',
 '10987',
 '10998',
 '11019',
 '11030',
 '11044',
 '11050',
 '11052',
 '11059',
 '11061',
 '11062',
 '11066',
 '11067',
 '11068',
 '11077',
 '11088',
 '11090',
 '11097',
 '11098',
 '11104',
 '11105',
 '11106',
 '11108',
 '11112',
 '11122',
 '11128',
 '11131',
 '11142',
 '11143',
 '11149',
 '11156',
 'A00000300',
 'A00003150',
 'A00004087',
 'A00007409',
 'A00010150',
 'A00010684',
 'A00011265',
 'A00011725',
 'A00012995',
 'A00013140',
 'A00013363',
 'A00013816',
 'A00014120',
 'A00014225',
 'A00014522',
 'A00014898',
 'A00015759',
 'A00015826',
 'A00017294',
 'A00018553',
 'A00019888',
 'A00020805',
 'A00020895',
 'A00020968',
 'A00020984',
 'A00021058',
 'A00021072',
 'A00021081',
 'A00021085',
 'A00022400',
 'A00022490',
 'A00022509',
 'A00022592',
 'A00022653',
 'A00022687',
 'A00022727',
 'A00022729',
 'A00022773',
 'A00022810',
 'A00022835',
 'A00022837',
 'A00022915',
 'A00023095',
 'A00023120',
 'A00023131',
 'A00023330',
 'A00023337',
 'A00023730',
 'A00023800',
 'A00023848',
 'A00023866',
 'A00024160',
 'A00024301',
 'A00024372',
 'A00024446',
 'A00024535',
 'A00024546',
 'A00024663',
 'A00024932',
 'A00024955',
 'A00025969',
 'A00026907',
 'A00026945',
 'A00027487',
 'A00027787',
 'A00028052',
 'A00028409',
 'A00029226',
 'A00029452',
 'A00031478',
 'A00031764',
 'A00033214',
 'A00035751',
 'A00036049',
 'A00036555',
 'A00036844',
 'A00036897',
 'A00036916',
 'A00037007',
 'A00037238',
 'A00037318',
 'A00037495',
 'A00037564',
 'A00037665',
 'A00014175',
 'A00019750',
 'A00020416',
 'A00027755',
 'A00027969',
 'A00028189',
 'A00028402',
 'A00031271',
 'A00035836',
 'A00035859',
 'A00038172',
 '50004',
 '50005',
 '50006',
 '50007',
 '50008',
 '50010',
 '50013',
 '50014',
 '50015',
 '50016',
 '50020',
 '50021',
 '50022',
 '50023',
 '50025',
 '50027',
 '50029',
 '50032',
 '50033',
 '50034',
 '50035',
 '50036',
 '50038',
 '50043',
 '50047',
 '50048',
 '50049',
 '50050',
 '50051',
 '50052',
 '50053',
 '50054',
 '50055',
 '50056',
 '50058',
 '50059',
 '50060',
 '50061',
 '50064',
 '50066',
 '50067',
 '50069',
 '50073',
 '50075',
 '50076',
 '50077',
 '50080',
 '50081',
 '50083',
 '50085',
 'A00000368',
 'A00000456',
 'A00000541',
 'A00000838',
 'A00000909',
 'A00001181',
 'A00001243',
 'A00001251',
 'A00001452',
 'A00002480',
 'A00004507',
 'A00006754',
 'A00009280',
 'A00014590',
 'A00014607',
 'A00014636',
 'A00014719',
 'A00014804',
 'A00014830',
 'A00015201',
 'A00015518',
 'A00015648',
 'A00016197',
 'A00016720',
 'A00016723',
 'A00017147',
 'A00018129',
 'A00018317',
 'A00018403',
 'A00018979',
 'A00019293',
 'A00019349',
 'A00020414',
 'A00020602',
 'A00020787',
 'A00021591',
 'A00021598',
 'A00022500',
 'A00023158',
 'A00023243',
 'A00023246',
 'A00023590',
 'A00023750',
 'A00024198',
 'A00024228',
 'A00024568',
 'A00024684',
 'A00024953',
 'A00024959',
 'A00027391',
 'A00027410',
 'A00027537',
 'A00028303',
 'A00028404',
 'A00028405',
 'A00028408',
 'A00028805',
 'A00028806',
 'A00029486',
 'A00031597',
 'A00035003',
 'A00035485',
 'A00037034',
 'A00037224',
 'A00037619',
 'A00037649',
 'A00037854',
 'A00038441',
 'A00038624']

In [5]:
ucla = pd.read_csv('./data/ucla.tsv', delimiter='\t')
cobre = pd.read_csv('./data/cobre.tsv', delimiter='\t')
ucla['study'] = 'ucla'
cobre['study'] = 'cobre'

In [6]:
ucla.rename(columns={'participant_id' : 'id'},
            inplace = True)

ucla['id'] = ucla['id'].apply(lambda x: x[4:])

In [7]:
cobre.rename(columns={'participant_id' : 'id',
                     'sex' : 'gender',
                     'dx' : 'diagnosis'},
            inplace = True)

In [8]:
participants = pd.DataFrame(columns=['id', 'age', 'gender', 'diagnosis', 'study'])

In [9]:
ucla = ucla[['id', 'age', 'gender', 'diagnosis', 'study']]
cobre = cobre[['id', 'age', 'gender', 'diagnosis', 'study']]

In [10]:
ucla.columns, cobre.columns

(Index(['id', 'age', 'gender', 'diagnosis', 'study'], dtype='object'),
 Index(['id', 'age', 'gender', 'diagnosis', 'study'], dtype='object'))

In [11]:
participants = pd.concat([ucla, cobre])

In [12]:
participants.head()

      id  age gender diagnosis study
0  10159   30      F   CONTROL  ucla
1  10171   24      M   CONTROL  ucla
2  10189   49      M   CONTROL  ucla
3  10193   40      M   CONTROL  ucla
4  10206   21      M   CONTROL  ucla

In [17]:
participants.diagnosis.unique()

array(['Control', 'Schizophrenia', 'BIPOLAR', 'ADHD',
       'Schizophrenia_Strict', 'Schizoaffective', 'Bipolar_Disorder'],
      dtype=object)

In [15]:
participants

            id  age gender             diagnosis  study
0        10159   30      F               CONTROL   ucla
1        10171   24      M               CONTROL   ucla
2        10189   49      M               CONTROL   ucla
3        10193   40      M               CONTROL   ucla
4        10206   21      M               CONTROL   ucla
..         ...  ...    ...                   ...    ...
179  A00037007   60   male     No_Known_Disorder  cobre
180  A00037854   21   male  Schizophrenia_Strict  cobre
181  A00038172   30   male       Schizoaffective  cobre
182  A00038441   52   male  Schizophrenia_Strict  cobre
183  A00038624   45   male  Schizophrenia_Strict  cobre

[456 rows x 5 columns]

In [16]:
participants.loc[(participants.gender == 'male'), 'gender'] = 'M'
participants.loc[(participants.gender == 'female'), 'gender'] = 'F'
participants.loc[(participants.diagnosis == 'No_Known_Disorder'), 'diagnosis'] = 'Control'
participants.loc[(participants.diagnosis == 'CONTROL'), 'diagnosis'] = 'Control'
participants.loc[(participants.diagnosis == 'SCHZ'), 'diagnosis'] = 'Schizophrenia'

In [18]:
participants.shape

(456, 5)

In [19]:
participants = participants.loc[participants['diagnosis'].isin(['Control', 'Schizophrenia', 'Schizoaffective', 'Schizophrenia_Strict'])]

In [20]:
participants.shape

(354, 5)

In [21]:
participants = participants.loc[participants['id'].isin(subjects)]

In [22]:
participants.shape

(336, 5)

In [23]:
participants.to_csv('./data/participants.csv', index=False)

In [ ]:
participants.head()

In [ ]:
participants.loc[participants['id'] == '50004']

In [1]:
import numpy as np

In [2]:
arr = np.load('./data/connection/Control/sub-10159.npz')['arr_0']

In [3]:
arr.shape

(444, 444)

In [4]:
arr = np.pad(arr, [(2, ), (2, )], mode='constant')

In [5]:
arr.shape

(448, 448)

In [6]:
arr

array([[0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 1.        , ..., 0.59747351, 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.59747351, ..., 1.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ]])